build
cmake-build-debug
experiments/data
experiments/scratch
external/LKH**/*
cmake
CMakeLists.txt
tests/**/*.txt
tests/**/*.log
tests/scratch/*
**/*.pyc
**/*.ipynb
.idea/*
*.DS_Store
**/.DS_Store
.claude

